[Unit]
Description=Linux Router (WiFi 2 Ethernet)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nadege
ExecStart=/usr/bin/bash -c /usr/bin/lnxrouter -i eth0 -o wlan0 --random-mac

[Install]
WantedBy=multi-user.target